## .NET
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
**/[Bb]in/*
.vs/
*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates
*.env
*.nupkg
*.snupkg
artifacts/
*.trx
*.coverage

## Node / Vue
node_modules/
dist/
*.local
.env.local
.env.*.local

## IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

## OS
.DS_Store
Thumbs.db
